
body {
    background-size: cover;
    background-color: lightgrey;
    background-repeat: no-repeat no-repeat center center fixed;
}

.product {
    width: 250px;
    height: auto;
    z-index: 1;    
}

.product img {
    width: 100%;
    height: auto  
}

.heart {
    height: auto;
    width: 250px;
    position: absolute;
    z-index : 2;
}

.wagon {
    height: auto;
    width: 100px;
    position: absolute;
    z-index : 3;
}
