
/*
.modal-backdrop {
  z-index: -1;
}
*/

body {
    background-color: lightgrey;
}

.product {
    filter: contrast(90%);
    filter: grayscale(40%);
    width: 250px;
    height: 250px;
    z-index: 1;
}

.heart {
    margin-top: 200px;
    height: auto;
    width: 50px;
    position: absolute;
    z-index: 2;
}

.wagon {
    margin-top: 150px;
    height: auto;
    width: 150px;
    position: absolute;
    z-index: 3;
    margin-left: 120px;
}

.sign {
    height: auto;
    width: 20px;
    display: inline-block
}

#wishListWindow {
    text-align: center;
    font-size: 30px;
    position: absolute;
    z-index: 2;
    margin-left: 50px;
    width: 600px;
    background-color: aliceblue;
    border-radius: 50px;
}

#wishListWindow li {
    font-size: 20px;
    list-style-type: none;
    height: 20px;
}

#lefter {
    background-color: red;
    width: 20px;
    height:100%;
}

button {
    display: inline;
}
