
body {
    background-size: cover;
    background-color: lightgrey;
    background-repeat: no-repeat no-repeat center center fixed;
}

.product {
    width: 250px;
    height: 250px;
    z-index: 1;    
}

.product img {
    width: 100%;
    height: auto  
}

.heart {
    height: auto;
    width: 50px;
    position: absolute;
    z-index : 2;
}

.wagon {
    height: auto;
    width: 150px;
    position: absolute;
    z-index : 3;
    margin-left: 100px;
}

.plusminus {
    height: auto;
    width: 20px;
    display: inline-block
}
